[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
distconfig3 = "==1.0.1"
pyyaml = "==6.0.1"
toml = "==0.10.2"
watchdog = "==3.0.0"

[dev-packages]
black = "==24.3.0"
flask = "==3.0.0"
kazoo = "==2.9.0"
pre-commit = "==3.4.0"
pytest = "==7.4.2"
python-consul = "==1.1.0"
python-etcd = "==0.4.5"
distconfig3 = "==1.0.1"
pyyaml = "==6.0.1"
toml = "==0.10.2"
watchdog = "==3.0.0"
